.skill_input {
    border: 0;
}

.skills {
    background-color: #E8E9EE;
    width: 50%;
    box-shadow: 0 6px 3px -2px rgba(0, 0, 0, 0.301);
}

.skills-text {
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 89%;
    border-bottom: 2px solid gray;
}

.skills-list {
    margin-left: 30px;
    padding-top: 10px;
}

#edit-skill-icon {
    margin-left: 100px;
    transition: ease 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 30px;
    padding: 5px;
}

#delete-skill-icon {
    margin-left: 10px;
    transition: ease 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 30px;
    padding: 5px;
}

#add-skill-icon {
    margin-left: 10px;
    transition: ease 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 30px;
    padding: 5px;
}