.admin-page {
    margin-left: 15px;
    margin-top: 34px;
}

.admin-alerts-container {
    min-width: 478px;
    box-shadow: 0 6px 3px -2px rgba(0, 0, 0, 0.301);
    background-color: #efefef;
    padding: 20px;
    border-radius: 10px;
}

.application-name {
    color: #0f8874;
}

.application-company {
    color: #cf3123;
}

.new-notification {
    animation: notification 2s both;
    padding: 3px 0 3px 10px;
}

.move-right {
    animation: moveRight 0s both;
}

@keyframes notification {
    from {
        opacity: 0;
        transform: translateX(-100px);
        background-color: rgba(64, 255, 47, 0.452);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes moveRight {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
    }
}