.head {
    background-color: #E8E9EE;
    height: 300px;
    margin-top: 18px;
    box-shadow: 0 6px 3px -2px rgba(0, 0, 0, 0.301);
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 100%;
    height: 150px;
    box-shadow: 0 6px 3px -2px rgba(0,0,0,0.301);
}

.avatar {
    position: relative;
    bottom: 100px;
    left: 3vw;
}

.student-name {
    margin-bottom: 10px;
    min-width: 200px;
}

.sub {
    display: flex;
    justify-content: flex-start;
    column-gap: 5%;
}

.name-pros {
    display: flex;
    column-gap: 2%;
}

.email {
    margin-top: 0;
    margin-bottom: 0;
}

.linked {
    margin-top: 0;
}

.pronouns {
    display: flex;
    align-items: center;
}

.about {
    background-color: #E8E9EE;
    box-shadow: 0 6px 3px -2px rgba(0, 0, 0, 0.301);
    margin-top: 18px;
}

.about-text {
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 94%;
    border-bottom: 2px solid gray;
}

.about-data {
    padding-left: 30px;
    padding-bottom: 20px;
}

@media only screen and (min-width: 1300px) {
    .resume {
        margin-left: 35%;
    }
  }

.resume {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
    gap: 10px;
    font-family: sans-serif;
}

.resume-input {
    border: none;
    border-radius: 20px;
    background-color: #15B097;
    color: white;
    padding: 5px;
    box-shadow: 0 6px 3px -2px rgba(0,0,0,0.301);
    cursor: pointer;
    transition: ease 0.3s;
}

.resume-input:hover {
    background-color: #14bea2;
    box-shadow: 0 6px 3px -2px rgba(36, 202, 202, 0.514);
    transform: scale(1.05,1.05);
}

.resume-button {
    border: none;
    border-radius: 20px;
    background-color: #cf3123;
    color: white;
    padding: 10px;
    box-shadow: 0 6px 3px -2px rgba(0,0,0,0.301);
    cursor: pointer;
    transition: ease 0.3s;
}

.resume-button:hover {
    background-color: #e92c1b;
    box-shadow: 0 6px 3px -2px rgba(202, 36, 36, 0.514);
    transform: scale(1.05,1.05);
}

#edit-picture-icon {
    margin-top: 40px;
    transition: ease 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 30px;
    padding: 5px;
    margin-right: 50px;
    margin-top: 155px;
    margin-left: 40px;
    background-color: #f8f8f8;
}

#edit-picture-icon:hover {
    box-shadow: 0 6px 3px -2px rgba(0,0,0,0.301);
    cursor: pointer;
    transform: scale(1.02,1.02);
    background-color: #d6d7d8;
}

#edit-banner-icon {
    margin-top: 40px;
    transition: ease 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 30px;
    padding: 5px;
    margin-right: 50px;
    margin-top: 90px;
    background-color: #f8f8f8;
}

#edit-banner-icon:hover {
    box-shadow: 0 6px 3px -2px rgba(0,0,0,0.301);
    cursor: pointer;
    transform: scale(1.05,1.05);
    background-color: #d6d7d8;
}

#edit-about-icon {
    transition: ease 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 30px;
    padding: 5px;
    margin-left: 10px;
}

#edit-about-icon:hover {
    box-shadow: 0 6px 3px -2px rgba(0,0,0,0.301);
    cursor: pointer;
    transform: scale(1.02,1.02);
    background-color: #d6d7d8;
}

.profile-link {
    height: 35px;
    margin-top: 10px;
    cursor: pointer;
    transition: ease 0.3s;
}

.profile-link:hover {
    transform: scale(1.05,1.05);
}

.edit-about-input {
    margin-left: 30px;
    border: none;
    font-size: 16px;
}