.formPanel {
    box-sizing: border-box;
    width: 300px;
    height: 500px;
    max-width: 100%;
    padding: 25px;
    margin: 130px auto 20px;
    margin-left: 640px;
    background-color: #efefef;
    border-radius: 45px;
    box-shadow: 0 12px 4px rgba(255, 255, 255, 0.4);
  }
  
.register-globe {
    position: relative;
    bottom: 50px;
  }

#register-text {
    position: relative;
    bottom: 110px;
    font-size: 17px;
    font-weight: bold;
}

.register-gradient {
    position: relative;
    bottom: 110px;
    height: 10px;
}

.register-inputs {
    position: relative;
    bottom: 100px;
}

.register-username {
    width: 230px;
    height: 30px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 100px;
    border: none;
    padding-left: 10px;
    background-color: #E8E9EE;
}

.register-password {
    width: 230px;
    height: 30px;
    margin: 5px;
    border-radius: 100px;
    border: none;
    padding-left: 10px;
    background-color: #E8E9EE;
}

.register-main-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-button {
    width: 130px;
    height: 45px;
    font-size: larger;
    color: white;
    border-radius: 15px;
    border: none;
    background-color: #18C9AB;
    box-shadow: 0 4px 2px rgba(98, 98, 98, 0.493);
    margin-bottom: 10px;
}

.register-button:hover {
    background-color: #15B097;
}
