#formPanel {
    box-sizing: border-box;
    width: 300px;
    height: 500px;
    max-width: 100%;
    padding: 25px;
    background-color: #efefef;
    border-radius: 45px;
    box-shadow: 0 12px 4px rgba(255, 255, 255, 0.4);
}
  
.register-globe {
    height: 200px;
    animation: globe 0.8s ease both;
    animation-delay: 0.3s;
}

#register-text {
    font-size: 18px;
    font-weight: bold;
    cursor: text;
    padding-bottom: 4px;
}

.register-gradient {
    height: 10px;
    padding-bottom: 15px;
    animation: gradient 0.8s ease both;
    animation-delay: 0.3s;
}

.register-inputs {
    margin-bottom: 13px;
}

.register-inputs input:hover {
    transition: ease 0.3s;
    transform: scale(1.03, 1.03);
}

.register-inputs input:focus {
    background-color: #19c9ab29;
}

.register-username {
    width: 230px;
    height: 30px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 100px;
    border: none;
    padding-left: 10px;
    background-color: #E8E9EE;
}

.register-password {
    width: 230px;
    height: 30px;
    margin: 5px;
    border-radius: 100px;
    border: none;
    padding-left: 10px;
    background-color: #E8E9EE;
}

.register-main-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-button {
    width: 130px;
    height: 45px;
    font-size: larger;
    color: white;
    border-radius: 15px;
    border: none;
    background-color: #18C9AB;
    box-shadow: 0 4px 2px rgba(98, 98, 98, 0.493);
    cursor: pointer;
    transition: ease 0.3s;
    margin-bottom: 16px;
}

.register-button:hover {
    transform: scale(1.03, 1.03);
}

.register-button:hover {
    background-color: #15B097;
}

@keyframes globe {
    from {
        transform: rotate(0deg);
    }

    to {
    transform: rotate(360deg);
    }
}

@keyframes gradient {
    from {
        transform: scaleX(0);
    }

    to {
    transform: scaleX(1);
    }
}